= form_for @quiz do |f|
  
  = f.fields_for(:answers) do |f_answer|
  
    %label.question{for: f_answer.object.id, :"data-toggle" => "buttons-radio" } 
      = f_answer.object.question.prompt
      %br
      %label.radio.btn
        %h4= f_answer.object.question.choice_1
        = f_answer.radio_button :choice, f_answer.object.question.choice_1
      %label.radio.btn
        %h4= f_answer.object.question.choice_2
        = f_answer.radio_button :choice, f_answer.object.question.choice_2
      %label.radio.btn
        %h4= f_answer.object.question.choice_3
        = f_answer.radio_button :choice, f_answer.object.question.choice_3
    
  = f.label :email
  - if @quiz.errors.any?
    - @quiz.errors.full_messages.each do |msg|
      .alert.alert-error= msg
  = f.email_field :email, class: "span12"

  .actions
    = f.submit 'Get your drink!', class: "btn btn-success btn-large span12"
    
:javascript
  $(".radio.btn").button();
